* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
html {
  font-size: 62.5%;
}
.main-div {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clickCount{
  color: red;
}
.main-div h1 {
  margin-bottom: 2em;
  font-size: 4.5em;
}
.inner-div img {
  width: 40rem;
  height: 50rem;
  box-shadow: 0 1rem 0.8rem rgba(0, 0, 0, 0.2);
  position: relative;
}
.inner-div .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: red;
}
